.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
    margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  
  
}
a {
    text-decoration: none;
}
.btn-review {
    background: #FF9900;
    width: 90%;
margin: 10px auto;
display: inline-flex;
justify-content: space-between;
border-radius: 4px;
color: #fff;
height: 56px;
font-size: 21px;
align-items: center;
border: 0;

}
.btn-review:hover {
    background: #ff9944;
}
